* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

main {
    display: flex;
    justify-content: center;
}

body {
    background-color: #0c1821;
    background-image: url("https://images.pexels.com/photos/3214110/pexels-photo-3214110.jpeg");
    position: relative;
}



h1 {
    text-align: center;
    color: white;
    font-size: 72px;
    font-weight: 700;
    margin-top: -20px;
    margin-bottom: 50px;
    z-index: 2;
    font-family: "Goldman", sans-serif;
}

#header-gradient {
    height: 50px;
    color: white;
    background-color: #6f9ceb;
    background: linear-gradient(180deg, rgba(138, 181, 255, 0.432) 0px, rgba(12, 24, 33, 0.137) 50px);
    margin: 0;
    margin-bottom: 40px;
}

#map {
    width: 1300px;
    height: 750px;
    border-radius: 20px;
    
    box-shadow: 0px 0px 40px 15px #6f9ceba9;
}

#checkbox-div {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 40px 15px #6f9ceba9;
}

#logo {
    display: flex;
    justify-content: center;
    align-content: center;
}

#logo-img {
    width: 125px;
    margin-bottom: 50px;
    margin-top: -40px;
    margin-right: 25px;
}

#upcoming {
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-left: 30px;
    padding: 10px;
    box-shadow: 0px 0px 40px 15px #6f9ceba9;
}

.event {
    display: flex;
    justify-content: center; 
}

.icon {
    width: 20px;
    margin: 5px;
    
}

h2 {
    margin-bottom: 5px;
}