html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
}

#map img {
    filter: hue-rotate(1) saturate(12) brightness(0);
}

#popup-aurora{
height:50%;
}

#aurora-image {
    width: 80%;
    border-radius:5px;
    display:block;
    margin: 0 auto;
    height: auto;
    margin-top: 5px;
}
#aurora-image p {
    text-align: center;
}

#observatory-image{
    width:100%;
}
#meteor-image{
    width: 100%;
}

#tituloOb{
    font-weight: bold;
}

.iss-icon {
    animation: pulse 2.4s infinite;
}

@keyframes pulse {
  0%, 100% {

    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.meteor-cluster {
    background-color: rgba(255, 165, 0, 0.7); 
    border: 2px solid #ff9900;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #000;
    font-weight: bold;
}

